// buttons

.btn1 {
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 25px;
    padding: 15px 25px;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(238,123,219,1) 0%, rgba(163,91,220,1) 100%);
    color: white;
    @include shadow;
    &:hover{
        @include shadow-hover;
        background: linear-gradient(180deg, lighten(rgba(238,123,219,1), 2%) 0%, lighten(rgba(163,91,220,1), 2%) 100%);
    }
    & a{
        color: #fff;
    }
}