// buttons

.btn1 {
    width: fit-content;
    box-sizing: border-box;
    margin: auto;
    padding: 15px 25px;
    border-radius: 25px;
    background: linear-gradient(180deg, rgba(238,123,219,1) 0%, rgba(163,91,220,1) 100%);
    box-shadow: $btn__shadow;
    color: white;
}