// hearts

.heart{
    font-size: 22px;
    &-full{
        background: linear-gradient(0deg, rgba(238,123,219,1) 0%, rgba(163,91,220,1) 100%);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}