// base

body {
  margin: 0px;
  @include mq(0px){
    min-width: $mobile;
  } 
}

main { background-color: $main-bg; }

section { width: 100%;}

a { text-decoration: none; color: black;}

h1, h6 { margin: 0px;}

ul { 
  padding: 0px;
  display: flex;
  flex-direction: column;
  & li {
    margin-bottom: 10px;
  }
}

li{ display: inline; margin-bottom: 30px;}