// base

body { margin: 0px; }

main { background-color: $main-bg; }

section { width: 100%;}

a { text-decoration: none; color: black;}

h1, h6 { margin: 0px;}

ul { 
  padding: 0px;
  & div {
    margin-bottom: 10px;
  }
}

li{ display: inline; margin-bottom: 30px;}