// typography

.logo-font{ 
    font-family: 'shrikhand';
    @include mq(desktop){
        font-size: 45px;
    }
}

* { font-family: 'roboto'; }

.bold { font-weight: 500; }

.thin { font-weight: 100; }