// index

.step{
    box-sizing: border-box;
    @include shadow;
    width: auto;
    height: 70px;
    border-radius: 22px;
    background-color: $main-bg;
    margin-left: 12px;
    margin-bottom: 20px;
    &__number{
        width: 24px;
        height: 21px;
        padding-top: 3px;
        margin-top: 23px;
        border-radius: 100%;
        background-color: $primary;
        margin-left: -12px;
        color: white;
        text-align: center; 
    }
    &__icon{
        height: 45px;
        padding-top: 25px;
        padding-left: 22px;
        font-size: large;
        opacity: 0.6;
    }
    &__title{
        height: 45px;
        padding-top: 25px;
        padding-left: 20px;
    }
    :hover{
        background-color: lighten($primary, 35%);
        border-radius: 22px;
        & .step__number{
            background-color: $primary;
        }
        & .step__icon{
        color: $primary;
        opacity: 1;
        }
    }
}