// menus

.menu{
    background-color: #fff;
    &__restaurant{
        width: 100%;
        & img{
            width: 100%;
            height: 250px;
            object-fit: cover;
            @include mq(desktop){
                height: 400px;
            }
        }
    }
    &__card{
        position: relative;
        width: 100%;
        max-width: 1313.65px;
        margin: auto;
        margin-top: -40px;
        padding: 10px 20px;
        border-radius: 36px 36px 0px 0px;
        background-color: $main-bg;
        & .container{
            width: 100%;
            flex-direction: column;
            @include mq(desktop){
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
    &__step{
        margin-bottom: 35px;
        @include mq(desktop){
            width: 31%;
        }
    }
    & .heart{
        position: absolute;
        right: 40px;
        margin-top: 24px;
        font-size: 24px;
        & .far{
            position: absolute;
            margin-top: 1px;
        }
        & .fas{
            position: relative;
            z-index: 0;
            opacity: 0;
        }
        &:hover{
            .far{
                color: transparent;
            }
            .fas{
                transition: opacity 400ms;  
                opacity: 1; 
            }
        }
    }
    &-underline{
        display: block;
        width: 42px;
        height: 3px;
        margin-top: 4px;
        background-color: $tertiary;
    }
    &__item{
        display: flex;
        box-sizing: border-box;
        width: 100%;
        height: 65px;
        margin-top: 15px;
        border-radius: 15px;
        background-color: #fff;
        overflow: hidden;
        @include shadow;
        opacity: 0;
        &.i01{
            animation: fade-in 1s .2s ease-out forwards;
        }
        &.i02{
          animation: fade-in 1s .4s ease-out forwards;
        }
        &.i03{
          animation: fade-in 1s .6s ease-out forwards;
        }
        &.i04{
          animation: fade-in 1s 1s ease-out forwards;
        }
        &.i05{
            animation: fade-in 1s 1.2s ease-out forwards;
        }
        &.i06{
            animation: fade-in 1s 1.4s ease-out forwards;
        }
        &.i07{
            animation: fade-in 1s 1.8s ease-out forwards;
        }
        &.i08{
            animation: fade-in 1s 2s ease-out forwards;
        }
        &.i09{
            animation: fade-in 1s 2.2s ease-out forwards;
        }
        &-contain{
            width: 100%;
            display: flex;
        }
        &-content{
            display: flex;
            width: 100%;
            margin: 10px;
            flex-direction: column;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-animation{
            height: inherit;
            background-color: #99e2d0;
            display: flex;
            width: 0%;
            position: absolute;
            right: 0;
        }
        &:hover{
            .menu__item-contain{
                animation: hide .5s 0s ease-out forwards;
            }
            .menu__item-animation{
                animation: show .5s 0s ease-out forwards;
                right: 0px;
            }
        }
        &-title{
            font-size: large;
            font-weight: 500;
            margin: 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-description{
            margin: 2px 0px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-price{
            position: relative;
            align-self: end;
            font-weight: 500;
            margin-right: 15px;
        }
    }
    & .btn1{
        margin: 60px auto;
        margin-top: 15px;
        padding: 15px 50px;
    }
}
