// container

.container{
    display: flex;
    flex-wrap: wrap;
    &--center{
        text-align: center;
        padding: 20px 45px;
    }
    &--bg{
        background-color: $container-bg;
    }
    & .padding{
        padding: 20px 20px 25px 20px;
        @include mq (tablet){
            padding-left: 6%;
        }
        @include mq(desktop){
            padding-left: 3%;
        }
    }
}