// container

.container{
    display: flex;
    flex-wrap: wrap;
    &--center{
        text-align: center;
    }
    &--bg{
        background-color: $container-bg;
    }
    & .padding{
        padding: 20px 20px 25px 20px;
    }
}