// footer

footer {
    background-color: $footer-background;
    height: 200px;
    padding: 10px 20px;
    color: #fff;
    & a{
        color: #fff;
    }
    @include mq(tablet){
        height: 150px;
        padding: 10px 6%;
    }
    @include mq(desktop){
        padding: 10px 3%;
    }
}

.footer{
    &__title{
        font-size: large;
        @include mq(tablet){
            text-align: center;
            font-size: x-large;
        }
    }
    &__content{
        width: 100%;
        @include mq(tablet){
            width: 50%;
            & .tablet-c-reverse{
                @include c-reverse;
            }
            &--end{
                text-align: end;
            }
        }
    }
}